# Visual Studio (Code) files
.vs
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# Development configs
appsettings.Development.json

# Test settings
testSettings.json

# NuGet packages, build locally
nupkgs/
*.bak

.idea/

*.received.*
*.orig
